# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/

# Database files
*.db
*.sqlite3
*.sqlite

# PyInstaller
build/
dist/
*.spec

# IDEs
.idea/

# Ignore artifacts
*.pdf
config.bat
node_modules
